{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "import/no-named-as-default": 0,
    "react/display-name": 1
  },
  "env": {
    "browser": true
  },
  "ecmaFeatures": {
    "classes": true,
    "jsx": true
  },
  "plugins": [
    "react"
  ]
}
